<aside class="sidebar">
    <h1>SHERAH</h1>
    <nav>
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Vendors</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Wishlist</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Invoice</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Message</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">Language</a></li>
        </ul>
    </nav>
</aside>