{% extends 'base_login_registro.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container-fluid vh-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-8 h-50 bg-light d-flex justify-content-center align-items-center">
      <!-- Imagen oculta en móviles -->
      <div class="col-md-5 d-none d-md-block d-flex align-items-center justify-content-center" style="border: 2px; overflow: hidden; height: 100%;">
          <img src="{{ url_for('static', filename='img/parqueadero1.webp') }}" alt="Login Image" 
              class="img-fluid" 
              style="height: 100%; width: 100vw; object-fit: cover;">
      </div>
      
      <div class="col-md-7">
        <div class="card shadow">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Iniciar Sesión</h2>

            <div id="login-alert" class="alert alert-danger text-center d-none"></div>

            <form id="login-form">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Ingresar</button>
              </div>
            </form>
            
            <div class="mt-3 text-center">
              <hr>
              <a href="{{ url_for('routes.register') }}">¿No tienes una cuenta? Regístrate</a> |
              <a href="#">Olvidé mi contraseña</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $("#login-form").submit(function (event) {
      event.preventDefault();  // Evita la recarga de la página
      
      $.ajax({
        type: "POST",
        url: "{{ url_for('routes.login') }}",
        data: $(this).serialize(), // Envía los datos del formulario, como json, hace lo mismo que cuando se crea un usuario Ej
        dataType: "json",
        success: function (response) {
          if (response.success) {
            window.location.href = response.redirect; // Redirige si el login es exitoso
          } else {
            $("#login-alert").removeClass("d-none").text(response.message);
          }
        },
        error: function () {
          $("#login-alert").removeClass("d-none").text("Ocurrió un error en el servidor.");
        }
      });
    });
  });
</script>
{% endblock %}
