{% extends 'base.html' %}
{% block title %}{{ titulo }}{% endblock %}
{% block content %}

<div class="sherah-adashboard sherah-show">
  <h2 class="m-4">Redenciones de Puntos</h2>
  <div class="example_wrapper">
    <button class="btn btn-primary m-3" id="btnAgregar">
      <i class="fas fa-plus"></i>
    </button>
    <table id="TableRedimir" class="table table-striped table-bordered">
      <thead class="table-blue">
        <tr>
          <th>ID</th>
          <th>Redimir</th>
          <th>Puntos - Cliente</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for redencion in redenciones %}
        <tr>
          <td>{{ redencion.id }}</td>
          <td>{{ redencion.cantidad }}</td>
          <td>{{ redencion.puntos_cantidad }} - {{ clientes.get(redencion.cliente_id, 'Desconocido') }}</td>
          <td>
            <button class="btn btn-warning btn-sm btnEditar" title="Editar" data-id="{{ redencion.id }}">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger btn-sm btnEliminar" title="Eliminar" data-id="{{ redencion.id }}">
              <i class="fas fa-trash-alt"></i>
            </button>
            <button class="btn btn-success btn-sm" title="Redimir" id="btnRedimir" data-id="{{ redencion.id }}">
              <i class="fas fa-money-bill-wave"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div id="redencionesData" data-redenciones='{{ redenciones | tojson | safe }}'></div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalRedimir" tabindex="-1" aria-labelledby="ModalRedimirLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalRedimirLabel">Gestión de Redenciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form id="RedimirForm">
          <input type="hidden" id="RedimirId">
          <div class="mb-3">
            <label class="form-label">Cantidad</label>
            <input type="number" class="form-control text-dark" id="cantidad" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Puntos a Redimir</label>
            <select class="form-select" id="puntos_id" required>
              <option value="">Puntos Cliente</option>
              {% for punto in puntos %}
              <option value="{{ punto.id }}">
                {{ punto.cantidad }} - {{ clientes.get(punto.id)}}
              </option>
              {% endfor %}
            </select>
          </div>
            <button type="submit" class="btn btn-primary w-100">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    
    $("#TableRedimir").DataTable({
      paging: true,
      searching: true,
      ordering: true,
      lengthMenu: [5, 10, 25, 50],
      language: {
        lengthMenu: "Mostrar _MENU_ registros por página",
        zeroRecords: "No se encontraron resultados",
        info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
        infoEmpty: "No hay registros disponibles",
        search: "Buscar:",
        paginate: {
          first: "<<",
          last: ">>",
          next: ">",
          previous: "<",
        },
      },
    });

    $("#TableRedimir").DataTable();

    $('#btnAgregar').click(() => {
      $('#ModalRedimirLabel').text('Nueva Redención');
      $('#RedimirForm').trigger('reset');
      $('#ModalRedimir').modal('show');
    });

    $('#TableRedimir').on('click', '.btnEditar', function () {

      let row = $(this).closest("tr");
      let redimir = JSON.parse(document.getElementById("redencionesData").dataset.redenciones);

      let redimirId = row.find("td:eq(0)").text();
      let cantidad = row.find("td:eq(1)").text();
      let cantidadText = row.find("td:eq(2)").text();
      let cantidadValue = parseInt(cantidadText, 10);
      
      const redimirEncontrado = redimir.find(p => p.id == redimirId);
      const puntos_id = redimirEncontrado ? redimirEncontrado.punto_id : null;

      $('#ModalRedimirLabel').text('Editar Redención');
      $('#RedimirId').val(redimirId);
      $('#cantidad').val(cantidad);
      $('#puntos_id').val(puntos_id);
      $('#ModalRedimir').modal('show');
    });

    $('#btnRedimir').click(function () {
      let row = $(this).closest("tr");
      let redimirId = row.find("td:eq(0)").text();
      let cantidadRedimir = row.find("td:eq(1)").text();
      console.log(row.html(), redimirId, cantidadRedimir);
      
      Swal.fire({
        title: '¿Confirmar Redención?',
        text: `Se restarán ${cantidadRedimir} puntos.`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Sí, redimir',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: `/redimir/${redimirId}`,
            method: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({ cantidad: cantidadRedimir }),
            success: function (response) {
              Swal.fire('Éxito', response.message, 'success').then(() => {
                window.location.reload();
              });
            },
            error: function(jqXHR, textStatus, errorThrown) {
              let response = jqXHR.responseJSON;
              let message = response && response.message ? response.message : "Error desconocido";

              Swal.fire("Error", message, "error");
            }
          });
        }
      });
    });

    $('#RedimirForm').submit(function (e) {
      e.preventDefault();
      const formData = {
        cantidad: $('#cantidad').val(),
        puntos_id: $('#puntos_id').val()
      };
      console.log(formData);
      
      const redimirId = $('#RedimirId').val();
      const method = redimirId ? 'PUT' : 'POST';
      const url = redimirId ? `/redimir/edit/${redimirId}` : '/redimir/add';

      $.ajax({
        url: url,
        method: method,
        contentType: 'application/json',
        data: JSON.stringify(formData),
        success: () => {
          $('#ModalRedimir').modal('hide');
          window.location.reload();
        }
      });
    });

    $('#TableRedimir').on('click', '.btnEliminar', function () {
      const id = $(this).data('id');
      Swal.fire({
        title: '¿Eliminar redención?',
        text: 'Esta acción afectará los puntos asociados',
        icon: 'warning',
        showCancelButton: true
      }).then((result) => {
        if (result.isConfirmed) {
          $.post(`/redimir/delete/${id}`, { _method: 'DELETE' }, () => {
            window.location.reload();
          });
        }
      });
    });
  });
</script>
{% endblock %}